.icon-48-lists {
      background-image: url(../images/l_lists.png);
      padding-left:60px!important;
}

.icon-48-table1 {
      background-image: url(../images/l_lists.png);
      padding-left:60px!important;
}

